/dataset_download/download.log
/dataset_download/ransom.json
/dataset_download/ransom_restructured.json
/dataset_download/raw/
/prova/
/src/extraction.log
/src/prova.csv
/src/.ipynb_checkpoints/
/csv/
